.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  width: 55%;
  height:100%;
}

.header__menu .menu, .header__menu .menu__list {
  height: 100%;
}

.header__menu {
  @include tablets {
    display: none;
  }
}
.socials.header__socials {
  @include phones {
    display: none;
  }
}
