include ./mixins.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio | main page
  body
    .wrapper
        .maincontent
          block content
    .sidebar
      .sidebar__container
        nav.menu
          - var menuItems = ["Обо мне", "Навыки", "Работы", "Отзывы"];
          ul.menu__list
            each item in menuItems
              li.menu__item
                a(href="#").menu__link #{item}

        - var socials = ['insta', 'github', 'vk', 'envelope'];
        ul.socials
          each item in socials 
            li.socials__item
              a(href="#").socials__link
                +icon(item, "socials__icon")
        a(href="#").sidebar__close
    
    include ./templates/entry.pug
